services:
  prod: 
    build: .
    ports:
      - "8000:8000"
    environment: 
      - DEBUG=False
    volumes:
       - ./db.sqlite3_prod:/usr/src/app/db.sqlite3_prod
       - ./static:/usr/src/app/static