services:
  test: 
    build: .
    ports:
      - "8000:8000"
    environment: 
      - DEBUG=True
    volumes:
       - ./db.sqlite3_test:/usr/src/app/db.sqlite3_test
       - ./static:/usr/src/app/static